body{
    background:#383838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 250px;
    width:90%;
    height: 300px;
    background:#afadad;
    border-radius: 5px;
    box-shadow: inset -1px 2px 2px #f7f7f7, -4px 4px 5px 2px #000
}

.screen{
    width: 85%;
    height:50px;
    margin:20px auto;
    background:#f9f9f9;
    border-radius: 5px;
    font-size: 30px;
    text-align: right;
    padding-right:10px;
    line-height: 1.5;
    color:#292929;
    box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
    border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #FFF;
	border-left: 2px solid #FFF;
}

.buttons{
   margin:0 auto;
   width:100%;
   height: 200px;
}

.row{
    width:100%;
    height: 40px;
    text-align: center;
    margin-bottom: 8px;
}
.btn{
    padding:5px;
    width:50px;
    height: 40px;
    font-size: 25px;
    border:0;
    border-left: 1px solid rgb(107, 106, 106);
    border-bottom: 1px solid rgb(107, 106, 106);
    
    border-radius: 3px;
    margin:0 1%;
    outline: none;
    cursor: pointer;
    background:#eaeaea;


}
.btn:hover{
    background:#a2a1a1;
    color:#fff;
}
.btn:active{
    transform: translateY(2px);
    box-shadow: none;
   
}

@media screen and (max-width:300px){
    .btn{
        padding:5% 10%;
        width:20%;
        height: 35px;
        font-size: 18px;
    }
}

.num{
    box-shadow: inset -2px 2px 1px 1px #fff,
    1px -1px 2px 0px rgb(63, 63, 63);
}
.num:hover{
    box-shadow: inset -1px 1px 1px 0px #fff,
    1px -1px 2px 0px rgb(63, 63, 63);
}
.num:active{
    box-shadow: none;
}
.sign{
    background:rgb(8, 8, 8);
    color: #fff;
    box-shadow: inset -1px 1px 2px 0px rgb(138, 138, 138),
    1px -1px 1px 0px rgb(78, 78, 78);
}
.sign:hover{
    background: rgb(65, 65, 65);
}

.clear{
    background:rgb(255, 0, 0);
    color:#fff;
    box-shadow: inset -1px 1px 2px 0px rgb(255, 255, 255),
    1px -1px 1px 0px rgb(39, 39, 39);
}
.clear:hover{
    background:rgb(235, 27, 27);
}